# Python
__pycache__/
*.pyc
.venv/
*.egg-info/
build/
*.spec

# Electron build artifacts
dist-backend/
dist-electron/
electron/node_modules/
electron/dist/

# Frontend
frontend/node_modules/
frontend/dist/

# OS
.DS_Store
Thumbs.db

# IDE
.idea/
.vscode/
